:80 {


	root * /srv/dist


	encode gzip zstd


	file_server


	try_files {path} /index.html


	header {

		X-Frame-Options "DENY"
		

		X-Content-Type-Options "nosniff"
		

		Referrer-Policy "strict-origin-when-cross-origin"
		

		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		

		Permissions-Policy "geolocation=(), microphone=(), camera=(), payment=(), usb=()"
		

		Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com data:; img-src 'self' data: https://media.licdn.com; connect-src 'self'; base-uri 'self'; form-action 'self'; frame-ancestors 'none';"
		

		-Server
	}
}